@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  display: flex; justify-content: center; align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: 'Press Start 2P', monospace;
  overflow: hidden;
  user-select: none;
  transition: background-color 0.8s ease;
}

body.dark-mode { background-color: #202124; }
body.dark-mode .game-container { filter: invert(1); }
body.dark-mode .moon, body.dark-mode .star { filter: invert(1); }

.game-container {
  width: 800px; height: 250px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.score-board {
  position: absolute; top: 20px; right: 20px;
  font-size: 20px; color: #535353; z-index: 100; letter-spacing: 2px;
}
#hi-score { color: #757575; margin-right: 15px; }

#game-over {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; color: #535353; z-index: 200;
}
.go-text { font-size: 24px; margin-bottom: 15px; }
.restart-icon { font-size: 30px; cursor: pointer; }

#dino {
  position: absolute; bottom: 10px; left: 50px;
  width: 44px; height: 47px; z-index: 10;
}
.dino-shape { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

#dino.ducking { width: 59px; height: 47px; }
#dino.ducking .dino-shape { width: 59px; height: 47px; margin-top: 15px; }

#ground-line {
  position: absolute; bottom: 10px;
  width: 100%; height: 2px;
  background-color: #535353;
  z-index: 5;
}

.hidden { display: none !important; }

.obstacle { position: absolute; bottom: 10px; z-index: 5; }
.obs-svg { fill: #535353; }

.wing-down { display: none; }
.obstacle.flap .wing-up { display: none; }
.obstacle.flap .wing-down { display: block; }

.cloud {
  position: absolute; width: 46px; height: 14px;
  background-color: #f7f7f7; z-index: 1;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 46 14" xmlns="http://www.w3.org/2000/svg"><path fill="%23d8d8d8" d="M32 0h-8v2h-2v2h-6v2h-2v6h2v2h28v-2h2v-8h-2v-2h-6v-2h-6z"/></svg>');
  animation: cloudMove 15s linear infinite;
  top: 50px; left: 800px;
}
@keyframes cloudMove { from { left: 800px; } to { left: -50px; } }

.moon {
  position: absolute; top: 40px; right: 100px; width: 40px; height: 40px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path fill="%23535353" d="M15 0H25V10H35V20H40V30H30V40H10V30H0V10H10V0H15Z"/></svg>');
  opacity: 1; z-index: 1;
}
.star {
  position: absolute; width: 9px; height: 9px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><path fill="%23535353" d="M3 0H6V3H9V6H6V9H3V6H0V3H3V0Z"/></svg>');
  opacity: 0.8; z-index: 1;
}
.s1 { top: 30px; left: 400px; }
.s2 { top: 60px; left: 600px; }